body {
  background-color: #f8f8f8;
}

#logo {
  background-image: url('../makerdao.svg');
  width: 100px;
  height: 88px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#logo, #tag-line {
  float: left;
}

#tag-line {
  position: relative;
  height: 103px;
  width: 300px;

  span {
    position: absolute;
    bottom: 0;
    font-size: 23px;
  }
}

.table {
  background-color: white;

  .task-group-td {
    position: relative;
    box-shadow: 4px 0 5px -2px #aaa;
    h6 {
      margin-left: 9px;
    }
  }

  .colored-stripe {
    position: absolute;
    width: 10px;
    top: 2px;
    left: 2px;
    bottom: 2px;

    border-radius: 10px;
    box-shadow: 1px 1px 2px gray inset;
  }
}

#modals {
  position: absolute;
  top: 0;
}

.task-modal {
  top: 150px;
  z-index: 2;
}

#task-modal-overlay {
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  z-index: 1;
}

#close-modal-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Tooltip container */
.my-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */

  .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -105px; /* Use half of the width to center the tooltip */
  }

  .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}

.no-transform {
  text-transform: none;
}

canvas.animated-background {
  margin-top: 110px;
  z-index: -1;
  position: absolute;
}
